<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>

  </configSections>

  <connectionStrings>

    <add name="Cadena_Access_Origen"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\BD_Access\DBOrigen.accdb"
         providerName="System.Data.OleDb" />

    <add name="Cadena_MySQL_Destino"
         connectionString="Server=localhost;Database=bddestino;Uid=root;Pwd=123456a$;"
         providerName="MySql.Data.MySqlClient" />

  </connectionStrings>

</configuration>